[run]
branch = True
source = graphlib

[report]
exclude_lines =
    pragma: no cover
    def get_version
    def __repr__
    def __str__
    def __bytes__
    def __unicode__
    raise AssertionError
    raise NotImplemented(Error)?
    if 0:
    if __name__ == .__main__.:
